/*
  YANONE KAFFEESATZ
  Extra Light: 200;
  Light: 300;
  Normal: Normal
  Bold: Bold
*/

$orange: #ef4200;
$blue: #00a0da;
$spacing: 30px;
$light-text: #666;
$dark-text: rgba(255, 255, 255, 0.85);
$light-back: white;
$dark-back: rgb(30, 32, 36);
$light-speed: 250ms;
$header-stripe: 8px;
$portfolio-transition: 1s;
$bubble: 12px;
$fixed-width: 150px;
$fixed-cushion: 25px;
$portrait-stroke: 2478.036px;

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: -.015em;
  margin: 0;
  padding: $header-stripe 0 0 0;
  background-color: $orange;
}

main {
  padding: $spacing * 2 $spacing $spacing * 4 $spacing;
  min-height: calc(100vh - 98px);
  box-sizing: border-box;

  header,
  section,
  hr {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
  }

  header {

    hgroup {
      padding-top: 8px;
      display: inline-block;
      vertical-align: top;
    }

    h1 {
      position: relative;
      font-size: 55px;
      color: $orange;
      margin: 0;

      svg {
        position: absolute;
        bottom: -5px;
        width: 70px;
        height: 70px;
      }
    }

    h2 {
      font-weight: 300;
      margin: 0;
      line-height: 60%;
      font-size: 35px;
    }

    h3 {
      color: $blue;
      font-weight: normal;
      font-size: 27px;
      margin: 20px 0 0 0;
    }

    .self-portrait {
      cursor: pointer;
      user-select: none;
      width: $fixed-width;
      margin-right: $fixed-cushion;
      height: auto;
      #circular-mask path {
        fill: none;
        stroke: white;
        stroke-width: 36px;
        stroke-dasharray: $portrait-stroke;
        stroke-dashoffset: 0px;
        transition: stroke-dashoffset 1s;

        .light-switch & {
          stroke-dashoffset: $portrait-stroke;
        }
      
        @media (prefers-color-scheme: dark) {
          stroke-dashoffset: $portrait-stroke;
          .light-switch & {
            stroke-dashoffset: 0px;
          }
        }
      
        @media (prefers-color-scheme: light) {
          stroke-dashoffset: 0px;
          .light-switch & {
            stroke-dashoffset: $portrait-stroke;
          }
        }








      }
      .hot-line, .night-line {
        fill: none;
        stroke-width: 32px;
      }
      .hot-line {
        stroke: $orange;
      }
      .night-line {
        stroke: $blue;
        stroke-width: 31px;
      }
    }
  }

  header + section {
    margin-top: 15px;
  }

  section {
    display: flex;
    position: relative;

    h4 {
      padding-top: 15px;
      text-align: center;
      flex-basis: $fixed-width;
      flex-grow: 0;
      flex-shrink: 0;
      margin: 0;
      margin-right: $fixed-cushion;
      font-size: 24px;
      font-weight: normal;
      color: $orange;

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 55px;
        height: auto;
        margin-bottom: 10px;
        transform-origin: center;
        transition: transform $portfolio-transition + 500ms;
      }
    }

    & + hr {
      border-style: solid;
      border-width: 0.5px;
      border-color: $orange;
      margin-top: $spacing;
      margin-bottom: $spacing;
    }

    &.portfolio + hr {
      margin-top: $spacing + 30px;
    }

    &.overview { 
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0 0 0 0;
        margin-right: $fixed-cushion;
        
        li {
          & + li {
            margin-top: 3px;
          }
          a {
            font-size: 18px;
            color: $orange;
            width: $fixed-width;
            display: flex;
            align-items: center;
            text-decoration: none;
            cursor: pointer;

            &:before {
              content: '';
              display: inline-block;
              width: 34px;
              height: 34px;
              margin-right: 8px;
              background-repeat: no-repeat;
            }
          }
          &.geo a:before {
            background-image: url('geo-pin.svg');
          }
          
          &.email a:before {
            background-image: url('closed-envelope.svg');
          }
          
          &.phone a:before {
            background-image: url('smartphone.svg');
          }
        }
      }
      article p {
        margin: 0;
        font-size: 20px;
        line-height: 30px;
        font-weight: 300;
        text-align: justify;
      
        & + p {
          margin-top: 15px;
        }
      }
    }

    &.portfolio {
      ul.examples {
        list-style-type: none;
        padding: 0;
        margin: 0;
        white-space: nowrap;
        overflow: auto;
        align-items: stretch;
        align-content: center;
        
        li {
          transition: transform $portfolio-transition, opacity $portfolio-transition * 0.8;
          transition-timing-function: ease-in-out;
          transition-delay: 150ms;
          vertical-align: middle;
          white-space: normal;
          display: inline-block;
          font-size: 32px;
          line-height: 40px;
          font-weight: 200;
          a {
            display: block;
            text-decoration: none;
            transition: color $light-speed;
            color: inherit;
            &:hover,
            &:active {
              color: $orange;
            }
            &:after {
              content: '';
              position: absolute;
              width: 30px;
              height: 30px;
              background-image: url('hyperlink.svg');
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              margin-left: 8px;
              bottom: 3px;
            }
          }
        }
      }
      ul.directory {
        display: flex;
        justify-content: space-between;
        position: absolute;
        list-style-type: none;
        text-align: center;
        padding: 0;
        margin: 0;
        bottom: 0;
        left: $fixed-width + $fixed-cushion;
        right: 0;
        transform: translateY(350%);
        li {
          cursor: pointer;
          position: relative;
          width: $bubble;
          height: $bubble;

          & + li {
            margin-left: $bubble;
          }
          &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            border-radius: $bubble / 2;
            background-color: $blue;
            transform-origin: center;
            transition: background-color $portfolio-transition / 2, transform $portfolio-transition / 2;
          }
          &.active:before {
            transform: scale(2);
            background-color: $orange;
          }
        }
      }
    }
  }
}

main {
  transition: background-color $light-speed, color $light-speed;

  background-color: $light-back;
  color: $light-text;

  .light-switch & {
    background-color: $dark-back;
    color: $dark-text;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $dark-back;
    color: $dark-text;
    .light-switch & {
      background-color: $light-back;
      color: $light-text;
    }
  }

  @media (prefers-color-scheme: light) {
    background-color: $light-back;
    color: $light-text;
    .light-switch & {
      background-color: $dark-back;
      color: $dark-text;
    }
  }

  .light-mode & {
    background-color: $light-back;
    color: $light-text;
  }

  .dark-mode & {
    background-color: $dark-back;
    color: $dark-text;
  }
}

footer {
  position: relative;
  background-color: $orange;
  background-image: url('upside-down.png'), url('john-hancock.png');
  background-repeat: no-repeat;
  background-position: center top, center 25px;
  background-size: 992px 90px, 218px 53px;
  text-align: center;
  padding: 25px 0 0 0;
  box-sizing: border-box;
  height: 90px;
  color: $dark-back;
  font-size: 14px;

  &:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    left: 50%;
    margin-left: -8px;
    transform: rotate(45deg);
    top: -8px;
    transition: background-color $light-speed;

    background-color: $light-back;
    .light-switch & {
      background-color: $dark-back;
    }

    @media (prefers-color-scheme: light) {
      background-color: $light-back;
      .light-switch & {
        background-color: $dark-back;
      }
    }
    @media (prefers-color-scheme: dark) {
      background-color: $dark-back;
      .light-switch & {
        background-color: $light-back;
      }
    }
  }

  a {
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
  }
}

g#cloud,
#right-pupil,
#right-wink {
  animation-delay: 2s;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

g#cloud {
  animation-name: happy-bounce;
  transform-origin: center center;
  animation-timing-function: ease-in-out;
}
g#cloud * {
  fill: $blue;
}
@keyframes happy-bounce {
  0%   { transform: rotate(0deg) translateX(0px) }
  10%  { transform: rotate(-6deg) translateX(-6px) }
  15%  { transform: rotate(7deg) translateX(7px) }
  20%  { transform: rotate(-7deg) translateX(-7px) }
  25%  { transform: rotate(8deg) translateX(8px) }
  30%  { transform: rotate(-8deg) translateX(-8px) }
  35%  { transform: rotate(12deg) translateX(12px) }
  40%  { transform: rotate(-13deg) translateX(-13px) }
  45%  { transform: rotate(13deg) translateX(15px) }
  50%  { transform: rotate(-12deg) translateX(-12px) }
  55%  { transform: rotate(9deg) translateX(9px) }
  60%  { transform: rotate(-7deg) translateX(-7px) }
  65%  { transform: rotate(5deg) translateX(5px) }
  70%  { transform: rotate(0deg) translateX(0px) }
  81%  { transform: rotate(0deg) translateX(0px) }
  83%  { transform: rotate(9deg) translateX(9px) }
  88%  { transform: rotate(0deg) translateX(0px) }
  100% { transform: rotate(0deg) translateX(0px) }
}

#right-wink {
  animation-name: show-right-wink;
  animation-timing-function: linear;
  opacity: 0;
}

@keyframes show-right-wink {
  0%   { opacity: 0; }
  82%  { opacity: 0; }
  83%  { opacity: 1; }
  84%  { opacity: 1; }
  86%  { opacity: 0; }
  100% { opacity: 0; }
}

#right-pupil {
  animation-name: hide-right-pupil;
  animation-timing-function: linear;
}

@keyframes hide-right-pupil {
  0%   { opacity: 1; }
  82%  { opacity: 1; }
  83%  { opacity: 0; }
  84%  { opacity: 0; }
  86%  { opacity: 1; }
  100% { opacity: 1; }
}