/*
  YANONE KAFFEESATZ
  Extra Light: 200;
  Light: 300;
  Normal: Normal
  Bold: Bold
*/

$orange: #ef4200;
$blue: #00a0da;
$spacing: 25px;
$light-text: #666;
$dark-text: rgba(255, 255, 255, 0.85);
$light-back: white;
$dark-back: rgb(30, 32, 36);
$light-speed: 333ms;

body {
  background-image: url('coffee-stains.png'), url('newsprint.png'), url('newsprint.png');
  background-position: bottom left, top left, bottom right;
  background-size: 250px, auto, auto;
  background-repeat: no-repeat, repeat, repeat;
  background-color: #cfc5b2;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  padding: 50px 20px;
  background-image: url('distressed-edge.png'), url('distressed-edge.png');
  background-repeat: repeat-x;
  background-position: top left, top right;
  background-size: 960px 55px;
  img {
    width: 287px;
    height: auto;
    mix-blend-mode: multiply;
  }
}